h1  {
  color: blue;
  text-align: center;
}

h2  {
  color: gold;
  font-weight: bold;
  font-size: 1.5em;
}

p  {
  font-family: fantasy;
  color: pink;
}

ul  {
  font-style: italic;
  line-height: 1.75em;
}
